* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: poppins;
}
body{
    background-image: url(./assets/Images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
}
:root{
    color-scheme: only light;
}
@font-face {
    font-family: poppins;
    src: url(./assets/Fonts/Poppins/Poppins-SemiBold.ttf);
}
.fa-magnifying-glass{
  color: #fff;
}
.same-size{
  font-size: 28px;
}
.contact{
  position: absolute;
  bottom: 0px;
  margin-top: 10px;
  font-size: 1.2rem;
}
.fa-envelope{
  color: #eb5d75;
}
.container {
  position: relative;
  background:linear-gradient(to bottom right, #ADD8E6, #FFC0CB);;
  max-width: 550px;
  height: 725px;
  border-radius: 10px;
  margin: auto;
  background-image: url(./assets/Images/cloud-background.png);
  background-size:cover ;
  background-position: center;
  padding: 22px;
  box-shadow: 5px 10px 18px #050404 ;
  overflow: hidden;

}
.submitting {
  width: 218px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 6px;
  background-color: #000;
  border-radius: 6px;
  box-shadow: 5px 10px 18px #9b9b9b ;

  & input {
    color: beige;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    background-color: #000;
    letter-spacing: 1px;
    width: 190px;
  }
}
.main-weather-info {
  padding-top: 40px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  font-family: sans-serif;
}
.min-max-temp {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  gap: 28px;
 justify-content: center;

}
.SunRise{
font-size: 18.4px;}
.SunSet{
font-size: 18.4px;
}
.Sri{
  width: 140px;

}
.Sset{
padding-left: 43px;}

.weather-img{
  height: 140px;
}
.temp{
  margin-bottom: 12px;
}
.temperature { 
  height: 89px;

  & p{
    text-align: center;
  }
  
}
.current-weather{
    height:40px;
   min-width: 175px;
    text-align: center;
    background-color: #000;
    color: #fff;
  font-size: 1.3rem;
  border-radius: 25px;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 5px 15px;

}
.extra-info{
    position: absolute;
    bottom: 38;
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(2,60px);
    gap: 12px;
    width: 100%;
    & .card{
        padding-left: 13px;
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 12px;
        box-shadow: 5px 10px 18px #acacac ;

        & img{
            width: 19px;
        }
        & p{
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.8px;
        }
        & #gauge{
            width: 26px;
        }
    
}}
@media (width <=550.40px){
  .extra-info{
    grid-template-columns: repeat(2,230px);

  }
}
@media (width <=400.40px){
  .extra-info{
    grid-template-columns: repeat(1,370px);
    width: 342px;

  }
  .container{
    height: 840px;
    padding: 12px 12px;
    background-color: #c9c9c9;
    margin-top: 0%;
    border-radius: 0px;
  }
  .min-max-temp{
    gap: 20px;
    width: 355px;
 padding-left:43px
    
  }
  .SunSet{
    width: 140px;
  }
  .contact{
    position: absolute;
    bottom: 4px;
    margin-top: 3px;
    font-size: 1.3rem;
    display:flex;
   align-items:center;
   gap:5px
  }
  .Sri{
    width:109px
    }
}
